TD {
	color			: #000000;
	font-family		: Tahoma, Verdana, Arial, Helvetica;
	font-size		: 8pt;
}

body {
        background-color: #D6DEEC;
        background-image: url(earth.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: left top;
        color: #000;
        font: 8pt Tahoma, Verdana, Arial, Helvetica;
}

.dillo { display: none; }

hr { display: none; }

hr.wiki {
        display: block;
        margin: 2px;
        height: 1px;
        color: #00008b;
        width: 10%;
}

img.wikiimage {
        max-height: 400px;
        max-width: 800px;
}

#wikepage {
        text-align: right;
        margin: 0px 5%;
        color: #202020;
        font: 18pt Tahoma, Verdana, Arial, Helvetica
        font-weight: bold;
}

#title {
        color: #555;
        background-color: #fff;
        margin: 0px 5%;
        text-align: left;
}

#title a {
        color: #555;
        text-decoration: none;
}


#wikicontrols {
        margin: 8px 5%;
}

#wikicontrols a {
        color: #666;
        background-color: #fff;
        text-decoration: none;
        border: 1px solid #d0d0d0;
        padding: 1px 3px;
        font-size: 8pt;
}

#wikicontrols a:hover {
        color: #00008b;
        border-color: #eee;
        background-color: #f5f5f5;
}

#wikicontent {
        margin: 0px 0px;
        padding: 2px 5px;
        border: 1px solid #eee;
        background-color: #f5f5f5;
        color: #000;
}

#wikicontent a {
        color: #00008b;
        text-decoration: underline;
        background-color: #f5f5f5;
}

#wikicontent a:visited {
        color: #00008b;
        text-decoration: none;
        background-color: #f5f5f5;
}

#wikicontent a:hover {
        color: #00f;
        background-color: #f5f5f5;
}

#wikicontent span.box {
        border: 1px solid #ddd;
        padding: 1px 2px;
        margin: 1px;
}

#wikicontent pre {
        border: 1px solid #eee;
        background-color: #fff;
        padding: 2px 5px;
        font-family: monospace;
}


#wikicontent table {
  background-color: #eee;
}
#wikicontent td {
  background-color: white;
}

#menucontent {
        margin: 0px 0px;
        padding: 2px 5px;
        border: 1px solid #eee;
        background-color: #f5f5f5;
        color: #000;
}

#menucontent a {
        color: #00008b;
        text-decoration: underline,bold;
        background-color: #f5f5f5;
}

#menucontent a:visited {
        color: #00008b;
        text-decoration: none;
        background-color: #f5f5f5;
}

#menucontent a:hover {
        color: #00f;
        background-color: #f5f5f5;
}

#menucontent span.box {
        border: 1px solid #ddd;
        padding: 1px 2px;
        margin: 1px;
}

#menucontent pre {
        border: 1px solid #eee;
        background-color: #fff;
        padding: 2px 5px;
        font-family: monospace;
}


#menucontent table {
  background-color: #eee;
}
#menucontent td {
  background-color: white;
}

#footer {
        font-size: 8pt;
        margin: 0px 5%;
}

#footer a {
        color: black;
}

#header {
        font-size: 7pt;
        margin: 5px 5%;
        text-align: right;
}

#header a {
        color: black;
}

#contentarea {
	    font-size: 8pt;
        margin: 0px 5%;
}
