body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Helvetica, Arial, Verdana;
  color:#555555;
  background: #fff url(bk.png) repeat-x;
  font-size: 10pt;
  line-height: 135%;
}

INPUT {
background-color: transparent;
border-bottom-width: 1px;
border-color: #316B94;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
color: #000000;
font-family: Tahoma, Helvetica, Arial, Verdana;
font-size: 10px;
font-weight: normal;
text-indent: 2px;
}



#header {
  margin: 0em auto;
  padding: 1em 0em 1.1em 0em;
  width: 800px;
  text-align: left;
  color: #004A84;
}

#container {
  margin: 0em auto 1em auto;
  width: 800px;
  text-align: justify;
}

#main {
  padding: .5em 1em 1em 1em;
  width: 650px; /* Value for IE. */
}
html>body #main {
  width: 650px /* Value for functioning browsers. */
}

#sidebar {
  width: 120px;
  float: right;
  padding: 0em;
  margin: 0em;
}

#footer {
  margin: 0em;
  padding-top: 1em;
  clear: both;
  font-size: 80%;
  color: #aaa;
  text-align: center;
}

/* Classes */

#banner {
  width: 800px;
  font-family: Century Gothic, georgia, helvetica, times, sans-serif;
  color: #123456;
  font-size: 300%;
  padding: 30px;
  margin: 0px;
}

h1 {
  font-family:Century Gothic, georgia, helvetica, times, sans-serif;
  color: #29638C;
  font-size: x-large;
  font-weight: normal;
  margin: .8em 0em .4em 0em;
  border-bottom:1px solid #eeeeee;
  padding-bottom: .25em;
}

h2 {
  font-family:Century Gothic, georgia, helvetica, times, sans-serif;
  color: #29638C;
  font-size: large;
  font-weight: normal;
  margin: .8em 0em .4em 0em;
  border-bottom:1px solid #eeeeee;
  padding-bottom: .25em;
}

h3 {
  font-family:Century Gothic, georgia, helvetica, times, sans-serif;
  color: #29638C;
  font-size: medium;
  font-weight: normal;
  margin: .8em 0em .4em 0em;
  border-bottom:1px solid #eeeeee;
  padding-bottom: .25em;
}

p {
  margin: 0em;
  padding: 0em 0em .5em 0em;
}

p.address {
  font-style: italic;
}

img {
  border: none;
  max-width: 468px;
}

a {
  color: #CC7E02;
}

a:visited {
  color: #CC7E02;
}

a:hover {
  color: #CC7E02;
}

ul {
  padding: 0em 0em 0em .9em;
  margin: 0em;
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

dl {
  padding: 0em;
  margin: 0em 0em .5em 0em;
}


#main span.box {
        border: 1px solid #ddd;
        padding: 1px 2px;
        margin: 1px;
}

#main pre {
  background: url(quote.gif) no-repeat;
  color: #666;
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding-left: 28px;
  font-family: monospace;
}

#main table {
  background-color: #fff;
  border: 1px solid #ddd;
}

#main td {
  background-color: #fff;
  border: 1px solid #ccc;
}

#sidebar table {
  background-color: #fff;
  border: 1px solid #ddd;
}
#sidebar td {
  background-color: #eee;
  border: 1px solid #ccc;
}

#wikicontrols {

		margin: 0px 0%;
}

#wikicontrols a {
        color: #ddd;
        text-decoration: none;
        border: 0px;
        padding: 1px 3px;
        font-size: 8pt;
}

#wikicontrols a:hover {
        color: #F99901;
        border-color: #eee;
}

#TOC {
  float: right;
  background-color: #f5f5f5;
  border:1px solid #ccc;
  font-size: 70%;
  padding: 0.3em;
  margin-left: 1em;
  width: 200px;
}

#TOC a.:link {
  color:blue;text-decoration:none
}
#TOC a:visited {
  color:orange;text-decoration:none
}
#TOC a:hover {
  color:red;text-decoration:underline
}
#TOC a:active {
  color:green;text-decoration:underline
}

#TOC li.H1 {
  font: normal normal normal 8pt Tahoma, Arial, Verdana;
  list-style-type: none;
  margin-left: 0px;
}
#TOC li.H2 {
  font: normal normal normal 8pt Tahoma, Arial, Verdana;
  list-style-type: none;
  line-height:16px;
  margin-left: 10px;
}
#TOC li.H3 {
  font: normal normal normal 8pt Tahoma, Arial, Verdana;
  list-style-type: none;
  line-height:16px;
  margin-left: 20px;
}

#images {
  float: right;
  background-color: #f5f5f5;
  border:1px solid #ccc;
  font-size: 70%;
  padding: 0.3em;
  margin-left: 1em;
}

.dillo { display: none; }